In [1]:
#importing required library
from selenium import webdriver # To access the browser and website
import pandas as pd  # To format the strutured data
import time # To pause/hold the step by step process

# EXception lib
from selenium.common.exceptions import NoSuchElementException

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
    Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
    
    You need to find following details:
        a) Rank
        B) Name
        C) Artist
        D) Upload date
        E) Views

In [38]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)


#Access the website
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(3)


# creating empty dictionary
most_Viewed_youtube = {}
most_Viewed_youtube['Rank'] = []
most_Viewed_youtube['Name'] = []
most_Viewed_youtube['Artist'] = []
most_Viewed_youtube['Upload_date'] = []
most_Viewed_youtube['Views'] = []
time.sleep(3)


a = 1 #counter value


# Scraping the all data
for i in range(0,30):
    time.sleep(3)
    
    try:
        #rank
        rank = driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr[{}]/td[1]".format(a))
        most_Viewed_youtube['Rank'].append(rank.text)
        time.sleep(2)
            
        #name
        name = driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr[{}]/td[2]".format(a))
        most_Viewed_youtube['Name'].append(name.text)
        time.sleep(2)
        
        #artist
        artist = driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr[{}]/td[3]".format(a))
        most_Viewed_youtube['Artist'].append(artist.text)
        time.sleep(2)
    
        #upload_date
        uploadDate = driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr[{}]/td[5]".format(a))
        most_Viewed_youtube['Upload_date'].append(uploadDate.text)
        time.sleep(2)
    
        #views
        view = driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr[{}]/td[4]".format(a))
        most_Viewed_youtube['Views'].append(view.text)
        time.sleep(2)
    except NoSuchElementException as n:
        print("Exception",n)
   
    # incresing counter variable
    a += 1


Most_Viewed_youtube = pd.DataFrame(most_Viewed_youtube)
Most_Viewed_youtube

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.71
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.38
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.41
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.34
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.13
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.44
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.19
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.12
8,9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.10
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.08
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.90
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.48
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.44
13,14.,"""Dame Tu Cosita""[39]",El Chombo,"April 5, 2018",3.37
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.36
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.31
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.26
17,18.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.08
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.07
19,20.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.06
20,21.,"""Wheels on the Bus""[46]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.05
21,22.,"""Lean On""[47]",Major Lazer,"March 22, 2015",3.04
22,23.,"""Bailando""[48]",Enrique Iglesias,"April 11, 2014",3.04
23,24.,"""Girls Like You""[49]",Maroon 5,"May 31, 2018",3.04
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.00
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.92
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.86
27,28.,"""Hello""[53]",Adele,"October 22, 2015",2.84
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.84
29,30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.82

### 2. Scrape the details team India’s international fixtures from bcci.tv.
    Url = https://www.bcci.tv/.
    You need to find following details:
    
        A) Match title (I.e. 1st ODI)
        B) Series
        C) Place
        D) Date
        E) Time
*Note: - From bcci.tv home page you have reach to the international fixture page through code.*

In [70]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)


#Access the website
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(3)

# navigating to international fixture
international = driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")
international.click()
time.sleep(2)
fixture = driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a").get_attribute('href')
driver.get(fixture)
time.sleep(2)


international_fixture = {}
international_fixture['Match_title'] = []
international_fixture['Series'] = []
international_fixture['Place'] = []
international_fixture['Date'] = []
international_fixture['Time'] = []

time.sleep(3)
#Match title
for i in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    international_fixture['Match_title'].append(i.text)

# Series
for i in driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']"):
    international_fixture['Series'].append(i.text)

#place
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
    international_fixture['Place'].append(i.text)

# Date and Time
for i in driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']"):
    
    time_lis = i.get_attribute("innerText").split(" ")[4:]
    times= list_to_string(time_lis)
    international_fixture['Time'].append(times)
    
    #date
    date_lis = i.get_attribute("innerText").split(" ")[:3]
    dates= list_to_string(date_lis)
    international_fixture['Date'].append(dates)

International_fixture = pd.DataFrame(international_fixture)
International_fixture

,Match_title,Series,Place,Date,Time
0,ICC WORLD TEST CHAMPIONSHIP,Final,"The Ageas Bowl, Southampton",Friday18th,15:00IST
1,ENGLAND V INDIA 2021,1st Test,"Trent Bridge, Nottingham",Wednesday4th,15:30IST
2,ENGLAND V INDIA 2021,2nd Test,"Lord's, London",Thursday12th,15:30IST
3,ENGLAND V INDIA 2021,3rd Test,"Headingley, Leeds",Wednesday25th,15:30IST
4,ENGLAND V INDIA 2021,4th Test,"The Oval, London",Thursday2nd,15:30IST
5,ENGLAND V INDIA 2021,5th Test,"Old Trafford, Manchester",Friday10th,15:30IST

In [62]:
# program for list to string converstion

def list_to_string(value):
    
    stri = '' #empty string intillation
    #return value
    for i in value:
        stri += i  #appending the value
        
    return stri

### 3. Scrape the details of selenium exception from guru99.com.
    Url = https://www.guru99.com/
    You need to find following details:
    
        A) Name
        B) Description
*Note: - From guru99 home page you have to reach to selenium exception handling page through code.*

In [81]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)


#Access the website
url = "https://www.guru99.com/"
driver.get(url)
time.sleep(3)

# Creating empty distionary
selenium_exception = {}
selenium_exception['Name'] = []
selenium_exception['Description'] = []

# Selecting selenium topic
driver.find_element_by_xpath("//*[@id='java_technologies']/li[3]/a").click()
time.sleep(3)

#navigate to exception handling
driver.find_element_by_xpath("//*[@id='g-mainbar']/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a/strong").click()
time.sleep(3)

counter = 2

#looping function
for i in range(0,41):
    
    # name of exception
    name = driver.find_element_by_xpath(f"//table[@class='table table-striped']/tbody/tr[{counter}]/td[1]").text
    selenium_exception['Name'].append(name)
    
    # description
    desc = driver.find_element_by_xpath(f"//table[@class='table table-striped']/tbody/tr[{counter}]/td[2]").text
    selenium_exception['Description'].append(desc)
    
    counter += 1
    time.sleep(1)
        
# Creating Dataframe
Selenium_exception = pd.DataFrame(selenium_exception)
Selenium_exception

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

### 4. Scrape the details of State-wise GDP of India from statisticstime.com.
    Url = http://statisticstimes.com/
    You have to find following details:

        A) Rank
        B) State
        C) GSDP at current price (19-20)
        D) GSDP at current price (18-19)
        E) Share(18-19)
        F) GDP($ billion)
        
**Note: - From statisticstimes home page you have to reach to economy page through code.**

In [13]:
# Accessing chrome browser
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#Navigating to webpage
url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(3)

india_gdp = driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div[1]/a[3]").get_attribute('href')
driver.get(india_gdp)
time.sleep(3)

state_path = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").get_attribute('href')
driver.get(state_path)
time.sleep(3)


# Creating empty dictionary
gdp_india = {}
gdp_india['Rank'] = []
gdp_india['State'] = []
gdp_india['GSDP at current price (19-20)'] = []
gdp_india['GSDP at current price (18-19)'] = []
gdp_india['Share(18-19)'] =[]
gdp_india['GDP($ billion)'] = []


counter = 1
time.sleep(2)
for i in range(len(driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr"))):
    
    #rank
    rank = driver.find_element_by_xpath(f"//table[@id='table_id']/tbody/tr[{counter}]/td[1]")
    gdp_india['Rank'].append(rank.text)
    
    state = driver.find_element_by_xpath(f"//table[@id='table_id']/tbody/tr[{counter}]/td[2]")
    gdp_india['State'].append(state.text)   
               
    #gsdb19_20
    gsdb19_20= driver.find_element_by_xpath(f"//table[@id='table_id']/tbody/tr[{counter}]/td[3]")
    gdp_india['GSDP at current price (19-20)'].append(gsdb19_20.text)
               
    
    gsdb18_19= driver.find_element_by_xpath(f"//table[@id='table_id']/tbody/tr[{counter}]/td[4]")
    gdp_india['GSDP at current price (18-19)'].append(gsdb18_19.text)   
    
    share= driver.find_element_by_xpath(f"//table[@id='table_id']/tbody/tr[{counter}]/td[5]")
    gdp_india['Share(18-19)'].append(share.text)
               
    
    gdb = driver.find_element_by_xpath(f"//table[@id='table_id']/tbody/tr[{counter}]/td[6]")
    gdp_india['GDP($ billion)'].append(gdb.text)   
    
    counter +=1  # moving to next row
    time.sleep(2)           
               
# Creating Dataframe
Gdp_india = pd.DataFrame(gdp_india)
Gdp_india.to_csv("Gdp_india")
Gdp_india

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

### 5. Scrape the details of trending repositories on Github.com.
       Url = https://github.com/
       You have to find the following details:
    A) Repository title
    B) Repository description
    C) Contributors count
    D) Language used
 
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [100]:
# library
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# Accessing chrome browser
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(4)

# navigating to webpage
url ="https://github.com/"
driver.get(url)
time.sleep(7)

# navigating to webpage
explore_opt = driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]")
action = ActionChains(driver)
action.click_and_hold(explore_opt).perform()

#clicking trending option
trend_opt = driver.find_element_by_xpath("//ul[@class='list-style-none mb-3'][2]/li[3]/a")
action.click(trend_opt).perform()

# Creating empty dictionary to append the data
trending_repo = {}
trending_repo['Repository_Title'] = []
trending_repo['Repository_Description'] = []
trending_repo['Contributors_Count'] = []
trending_repo['Language_Used'] = []

# repo_title
titles = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in titles:
    if i.text == " ":
        trending_repo['Repository_Title'].append("-")
    else:
        trending_repo['Repository_Title'].append(i.text)
time.sleep(2)

#description
count = 1
for i in range(len(driver.find_elements_by_xpath("//article[@class='Box-row']"))):
    
    try:
        descriptions = driver.find_element_by_xpath(f"//article[@class='Box-row'][{count}]/p[1]")
        trending_repo['Repository_Description'].append(descriptions.text) 
        
    except NoSuchElementException:
        trending_repo['Repository_Description'].append("-")
    
    count += 1

#contributor_counts
contributor_counts = driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/a[2]")
for i in contributor_counts:
    if i.text == "":
        trending_repo['Contributors_Count'].append("-")
    else:
        trending_repo['Contributors_Count'].append(i.text)
time.sleep(2)

#language
lan_count = 1
for i in range(len(driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']"))):
    try:
        langu = driver.find_element_by_xpath(f"//article[@class='Box-row'][{lan_count}]/div[2]/span/span[2]")
        trending_repo['Language_Used'].append(langu.text) 
        
    except NoSuchElementException:
        trending_repo['Language_Used'].append("-")
    lan_count += 1
time.sleep(2)


#creating dataframe
Trending_repositories = pd.DataFrame(trending_repo)
Trending_repositories.to_csv("Trending repositories.csv")
Trending_repositories.head()

,Repository_Title,Repository_Description,Contributors_Count,Language_Used
0,zzanehip / The-OldOS-Project,Recreating a fully functional version of iOS 4...,107,Swift
1,PaperMC / Paper,High performance Spigot fork that aims to fix ...,999,Shell
2,madMAx43v3r / chia-plotter,-,381,C
3,actions / virtual-environments,GitHub Actions virtual environments,"1,199",PowerShell
4,pytorch / fairseq,Facebook AI Research Sequence-to-Sequence Tool...,"3,260",Python

### 6. Scrape the details of top 100 songs on billboard.com.
   Url = https://www.billboard.com/
   - You have to find the following details:
        
            A) Song name
            B) Artist name
            C) Last week rank
            D) Peak rank
            E) Weeks on board
        
**Note: - From the home page you have to click on the charts option then hot 100-page link through code. **

In [10]:
# library
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import ElementNotInteractableException,ElementNotSelectableException,ElementClickInterceptedException


# Accessing chrome browser
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(4)

# navigating to webpage
url ="https://www.billboard.com/"
driver.get(url)
time.sleep(7)

# Navigating to hot100 page
chart_opt=driver.find_element_by_xpath("//*[@id='root']/div[2]/div[1]/div[1]/ul/li[1]/a").get_attribute('href')
driver.get(chart_opt)
time.sleep(5)

hot_opt = driver.find_element_by_xpath("//*[@id='main']/div[2]/div/div[1]/a").get_attribute('href')
driver.get(hot_opt)
time.sleep(5)


#Creating empty list
top100song = {}
top100song["SongName"] = []
top100song["ArtistName"] = []
top100song["Last_week_rank"] = []
top100song["Peak_rank"] = []
top100song["Weeks_on_board"] = []

#Scraping required detail
songName = driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[1]")
for i in songName:
    top100song["SongName"].append(i.text)

artistName = driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[2]")
for i in artistName:
    top100song["ArtistName"].append(i.text)
    
lastWeek = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in lastWeek:
    top100song["Last_week_rank"].append(i.text)
    
peakRank = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peakRank:
    top100song["Peak_rank"].append(i.text)
 
weekONBoard = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in weekONBoard:
    top100song["Weeks_on_board"].append(i.text)
    
# Dataframe
Top100Song = pd.DataFrame(top100song)
Top100Song.to_csv("Top100Song.csv")
Top100Song.head(15)

#after all process closing the chrome browser
driver.close()

,SongName,ArtistName,Last_week_rank,Peak_rank,Weeks_on_board
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
5,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,11
6,Kiss Me More,Doja Cat Featuring SZA,8,5,8
7,Deja Vu,Olivia Rodrigo,3,3,9
8,Astronaut In The Ocean,Masked Wolf,10,6,16
9,Montero (Call Me By Your Name),Lil Nas X,13,1,10
10,Without You,The Kid LAROI,16,8,26
11,Traitor,Olivia Rodrigo,9,9,2
12,Drivers License,Olivia Rodrigo,11,1,21
13,Rapstar,Polo G,17,1,8
14,Forever After All,Luke Combs,20,2,32

### 7. Scrape the details of Data science recruiters from naukri.com.
    Url = https://www.naukri.com/

#### You have to find the following details:
        
    A) Name
    B) Designation
    C) Company
    D) Skills they hire for
    E) Location

**Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code**

In [31]:
# Accessing chrome browser
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

# navigating to webpage
url ="https://www.naukri.com/"
driver.get(url)
time.sleep(3)

recruiter_url = driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a").get_attribute('href')
driver.get(recruiter_url)
time.sleep(3)

# Searching Datascience position in recruiter page
search_box = driver.find_element_by_xpath("//div[@class='sWrap lftBrd']/div[2]/input")
search_box.send_keys("Data science")
time.sleep(2)

search_btn = driver.find_element_by_id("qsbFormBtn")
search_btn.click()
time.sleep(2)

#creating empty datastructure
naukri_datascience = {}
naukri_datascience['Name'] = []
naukri_datascience['Designation']=[]
naukri_datascience['Company']=[][0:30]
naukri_datascience['Skills they hire for'] =[]
naukri_datascience['Location'] = []

#Scraping required detail
name = driver.find_elements_by_xpath("//div[@class='vcard']/p/a/span")[0:30]
for i in name:
    if i.text is None:
        naukri_datascience['Name'].append("-")
    else:
        naukri_datascience['Name'].append(i.text)
        
        
designation = driver.find_elements_by_xpath("//div[@class='vcard']/p/span[1]")[0:30]
for i in designation:
    if i.text is None:
        naukri_datascience['Designation'].append("-")
    else:
        naukri_datascience['Designation'].append(i.text)

company = driver.find_elements_by_xpath("//div[@class='vcard']/p/a[2]")[0:30]        
for i in company:
    if i.text is None:
        naukri_datascience['Company'].append("-")
    else:
        naukri_datascience['Company'].append(i.text)

location = driver.find_elements_by_xpath("//div[@class='vcard']/p/span[2]")[0:30]
for i in location:
    if i.text is None:
        naukri_datascience['Location'].append("-")
    else:
        naukri_datascience['Location'].append(i.text)
        
skill =driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")[0:30]       
for i in skill:
    if i.text is None:
        naukri_datascience['Skills they hire for'].append("-")
    else:
        naukri_datascience['Skills they hire for'].append(i.text)
        
        
# Creating Dataframe
Datascience = pd.DataFrame(naukri_datascience)
Datascience.to_csv("Datascience.csv")
Datascience.head(10)

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore

### 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

    **You have to find the following details:**
    
    A) Book name
    B) Author name
    C) Volumes sold
    D) Publisher
    E) Genre

In [12]:
# Accessing chrome browser
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(3)

# creation dictionart files to store the scraped detail
Novels = {}
Novels["Book_Name"] = []
Novels["Author_Name"] = []
Novels["Volume_Sold"] = []
Novels["Publisher"] = []
Novels["Genre"] = []

#Scraping the detail

count = 1
for i in range(len(driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr"))):
    
    book_name = driver.find_element_by_xpath(f"//table[@class='in-article sortable']/tbody/tr[{count}]/td[2]")
    Novels["Book_Name"].append(book_name.text)
    
    author_name = driver.find_element_by_xpath(f"//table[@class='in-article sortable']/tbody/tr[{count}]/td[3]")
    Novels["Author_Name"].append(author_name.text)
    
    volume_name = driver.find_element_by_xpath(f"//table[@class='in-article sortable']/tbody/tr[{count}]/td[4]")
    Novels["Volume_Sold"].append(volume_name.text)
    
    publisher = driver.find_element_by_xpath(f"//table[@class='in-article sortable']/tbody/tr[{count}]/td[5]")
    Novels["Publisher"].append(publisher.text)
    
    genre = driver.find_element_by_xpath(f"//table[@class='in-article sortable']/tbody/tr[{count}]/td[6]")
    Novels["Genre"].append(genre.text)
    
    count += 1
    
Novels_Topselling = pd.DataFrame(Novels)
Novels_Topselling.to_csv("Novels_Topselling.csv")
Novels_Topselling.head(15)

,Book_Name,Author_Name,Volume_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
5,Harry Potter and the Goblet of Fire,"Rowling, J.K.","3,583,215",Bloomsbury,Children's Fiction
6,Harry Potter and the Chamber of Secrets,"Rowling, J.K.","3,484,047",Bloomsbury,Children's Fiction
7,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.","3,377,906",Bloomsbury,Children's Fiction
8,Angels and Demons,"Brown, Dan","3,193,946",Transworld,"Crime, Thriller & Adventure"
9,Harry Potter and the Half-blood Prince:Childre...,"Rowling, J.K.","2,950,264",Bloomsbury,Children's Fiction
10,Fifty Shades Darker,"James, E. L.","2,479,784",Random House,Romance & Sagas
11,Twilight,"Meyer, Stephenie","2,315,405","Little, Brown Book",Young Adult Fiction
12,"Girl with the Dragon Tattoo,The:Millennium Tri...","Larsson, Stieg","2,233,570",Quercus,"Crime, Thriller & Adventure"
13,Fifty Shades Freed,"James, E. L.","2,193,928",Random House,Romance & Sagas
14,"Lost Symbol,The","Brown, Dan","2,183,031",Transworld,"Crime, Thriller & Adventure"

### 9. Scrape the details most watched tv series of all time from imdb.com.
    Url = https://www.imdb.com/list/ls095964455/
**You have to find the following details:**

    A) Name
    B) Year span
    C) Genre
    D) Run time
    E) Ratings
    F) Votes

In [25]:
# Accessing chrome browser
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(3)

# creating empty disctionary
imdb_series = {}
imdb_series['Name'] = []
imdb_series['YearSpan'] = []
imdb_series['Genre'] = []
imdb_series['RunTime'] = []
imdb_series['Rating'] = []
imdb_series['Votes'] = []

#Scraping the above data from IMDB Website
names = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in names:
    if i.text is None:
        imdb_series['Name'].append("-")
    else:
        imdb_series['Name'].append(i.text)
        
yearSpan = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
for i in yearSpan:
    if i.text is None:
        imdb_series['YearSpan'].append("-")
    else:
        imdb_series['YearSpan'].append(i.text.replace('(','').replace(')',''))

        
genre = driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
for i in genre:
    if i.text is None:
        imdb_series['Genre'].append("-")
    else:
        imdb_series['Genre'].append(i.text)
        
runtime = driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
for i in runtime:
    if i.text is None:
        imdb_series['RunTime'].append("-")
    else:
        imdb_series['RunTime'].append(i.text)
        
        
rating = driver.find_elements_by_xpath("//div[@class ='ipl-rating-star small']/span[2]")
for i in rating:
    if i.text is None:
        imdb_series['Rating'].append("-")
    else:
        imdb_series['Rating'].append(i.text)

votes = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]")
for i in votes:
    if i.text is None:
        imdb_series['Votes'].append("-")
    else:
        imdb_series['Votes'].append(i.text)        

    
# Creating dataframe using pandas lib
IMDB_Series = pd.DataFrame(imdb_series)
IMDB_Series.to_csv("IMDB_Series.csv")

IMDB_Series.head(15)

,Name,YearSpan,Genre,RunTime,Rating,Votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.3,"1,823,052"
1,Stranger Things,2016–,"Drama, Fantasy, Horror",51 min,8.7,"863,711"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.2,"874,444"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.6,"262,673"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"224,011"
5,Orange Is the New Black,2013–2019,"Comedy, Crime, Drama",59 min,8,"282,645"
6,Riverdale,2017–,"Crime, Drama, Mystery",45 min,6.8,"125,022"
7,Grey's Anatomy,2005–,"Drama, Romance",41 min,7.5,"261,135"
8,The Flash,2014–,"Action, Adventure, Drama",43 min,7.6,"314,366"
9,Arrow,2012–2020,"Action, Adventure, Crime",42 min,7.5,"412,316"
10,Money Heist,2017–2021,"Action, Crime, Mystery",70 min,8.3,"330,892"
11,The Big Bang Theory,2007–2019,"Comedy, Romance",22 min,8.1,"737,204"
12,Black Mirror,2011–,"Drama, Sci-Fi, Thriller",60 min,8.8,"462,336"
13,Sherlock,2010–2017,"Crime, Drama, Mystery",88 min,9.1,"829,988"
14,Vikings,2013–2020,"Action, Adventure, Drama",44 min,8.5,"451,391"

### 10. Details of Datasets from UCI machine learning repositories.
    Url = https://archive.ics.uci.edu/

**You have to find the following details:**

    A) Dataset name
    B) Data type
    C) Task
    D) Attribute type
    E) No of instances
    F) No of attribute
    G) Year

#### Note: - from the home page you have to go to the Show All Dataset page through code.

In [57]:
# Accessing chrome browser
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(3)

# navigating to view all dataset page
view_dataset = driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
view_dataset.click()
time.sleep(3)

# creating empty disctionart and nested list to append scra[p]
uci_repositories = {}
uci_repositories['Dataset name']= []
uci_repositories['Data type'] = []
uci_repositories['Task'] = []
uci_repositories['Attribute type'] = []
uci_repositories['No of instances'] = []
uci_repositories['No of attribute'] = []
uci_repositories['Year'] = []


# Scraping the required detail

name = driver.find_elements_by_xpath("//p[@class='normal']/b/a")
for i in name:
    if len(uci_repositories['Dataset name']) < 586:
        uci_repositories['Dataset name'].append(i.text)
    else:
        pass
     
time.sleep(1)
for i in range(2,588):
    dtype = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[2]/p")
    if dtype.text == " ":
        uci_repositories['Data type'].append("-")
    else:
        uci_repositories['Data type'].append(dtype.text)
    
    task = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[3]/p")
    if task.text == " ":
        uci_repositories['Task'].append("-")
    else:
        uci_repositories['Task'].append(task.text) 
        
    type = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[4]/p")
    if type.text == " ":
        uci_repositories['Attribute type'].append("-")
    else:
        uci_repositories['Attribute type'].append(type.text)
        
    instance = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[5]/p")
    if instance.text == " ":
        uci_repositories['No of instances'].append("-")
    else:
        uci_repositories['No of instances'].append(instance.text) 
        
    num_attribute = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[6]/p")
    if num_attribute.text == " ":
        uci_repositories['No of attribute'].append("-")
    else:
        uci_repositories['No of attribute'].append(num_attribute.text)        
        
    year = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[7]/p")
    if year.text == " ":
        uci_repositories['Year'].append("-")
    else:
        uci_repositories['Year'].append(year.text)
time.sleep(1)


#Creating Dataframe
UCI_Repositories = pd.DataFrame(uci_repositories)
UCI_Repositories.to_csv("UCI_Repositories.csv")
UCI_Repositories.head(20)

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,-
3,Anonymous Microsoft Web Data,-,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
5,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
6,Audiology (Original),Multivariate,Classification,Categorical,226,-,1987
7,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
8,Auto MPG,Multivariate,Regression,"Categorical, Real",398,8,1993
9,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,26,1987
10,Badges,"Univariate, Text",Classification,-,294,1,1994
11,Balance Scale,Multivariate,Classification,Categorical,625,4,1994
12,Balloons,Multivariate,Classification,Categorical,16,4,-
13,Breast Cancer,Multivariate,Classification,Categorical,286,9,1988
14,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,10,1992
15,Breast Cancer Wisconsin (Prognostic),Multivariate,"Classification, Regression",Real,198,34,1995
16,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,32,1995
17,Pittsburgh Bridges,Multivariate,Classification,"Categorical, Integer",108,13,1990
18,Car Evaluation,Multivariate,Classification,Categorical,1728,6,1997
19,Census Income,Multivariate,Classification,"Categorical, Integer",48842,14,1996

 -----------------------------------------------------------------------------------------------------